body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    font-size: 20px;
}

header{
	background-color: #00CED1;
    padding: 1px;
    padding-left: 20px;
}


/* Style for the Navigation Bar*/
ul.myNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.myNav{
	float: left;
    width: 25%;
    font-weight: bold;
}

li.myNav a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.myNav a:hover {
    background-color: #111;
}

/* Style for the Views*/
.column{
	float: left;
	padding: 10px;
	height: 400px;
}

.column.main{
	background-color: #F8F8FF;
	width: 75%;
}

.column.info{
	background-color: #D3D3D3;
	width: 25%;
}

.column.tile{
	background-color: #F8F8FF;
	width: 50%;
	height: 200px;
}

* {
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Buttons as Tiles */

.kachel {
    background-color: #5c5c5c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
/*    position:relative;
    margin: -80% -40%; 
    top: 50%; 
    left: 50%;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
/*    vertical-align: middle;
    horizontal-align: middle;*/
    width: 98%;
    height: 98%;
}

.kachel:hover {
    background-color: #292626;
    color: white;
    width: 98%;
    height: 98%;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.frameless{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

/* For a toggle Switch
/* The switch - the box around the slider */
.switch {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00CED1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* For the beer searching bar*/
input.beerSearch{
    background-image: url('../templates/searchicon.svg'); /* Add a search icon to input */
    background-position: 10px 15px; /* Position the search icon */
    background-size: 20px 20px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 20px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

ul.beerSearch{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.beerSearch a{
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

li.beerSearch a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

* {
  box-sizing: border-box;
}

/* Buttons as Tiles*/
.kachel {
    background-color: #5c5c5c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position:relative;
    /*margin: -80% -40%; 
    top: 50%; 
    left: 50%;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
    width: 80%;
    height: 80%;
}

.kachel:hover {
    background-color: #292626;
    color: white;
    width: 80%;
    height: 80%;
}


/* Recipe Buttons */
.field{
    font-size: 20px; /* Increase font-size */
    padding: 12px 12px 12px 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */    
}

.field.nmbr{
    width: 70px;
}

.field.name{
    width: 300px;
}

.incrembtn{
    background-color: #5c5c5c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.incrembtn:hover{
    background-color: #292626;
    color: white;
}

.bttns {
    background-color: #5c5c5c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position:relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
    width: 80%;
    height: 80%;
}

.bttns:hover {
    background-color: #292626;
    color: white;
    width: 80%;
    height: 80%;
}
